/RubiksCube/Debug/*.obj
/RubiksCube/Debug/RubikCub.840C9D90.tlog/*.tlog
/RubiksCube/Debug/RubikCub.840C9D90.tlog/*.lastbuildstate
/RubiksCube/Debug/*.pch
/RubiksCube/Debug/*.log
/RubiksCube/Debug/*.res
/RubiksCube/Debug/*.idb
/RubiksCube/Debug/*.pdb
/RubiksCube/x64/Debug/*.obj
/RubiksCube/x64/Debug/*.log
/RubiksCube/x64/Debug/RubikCub.840C9D90.tlog/*.tlog
/RubiksCube/x64/Debug/RubikCub.840C9D90.tlog/*.lastbuildstate
/RubiksCube/x64/Debug/*.pch
/RubiksCube/x64/Debug/*.res
/RubiksCube/x64/Debug/*.pdb
/RubiksCube/x64/Release/*.obj
/RubiksCube/x64/Release/*.log
/RubiksCube/x64/Release/RubikCub.840C9D90.tlog/*.tlog
/RubiksCube/x64/Release/RubikCub.840C9D90.tlog/*.lastbuildstate
/RubiksCube/x64/Release/*.pch
/RubiksCube/x64/Release/*.res
/RubiksCube/x64/Release/*.pdb
